<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuandengta.mapper.UserMapper">
    <select id="selectById" parameterType="Integer" resultType="com.yuandengta.pojo.User">
        select * from user where id=#{id}
    </select>

    <select id="selectAll" resultType="com.yuandengta.pojo.User">
        select * from user
    </select>
</mapper>